dev_to_local_db.sh
uat_to_local_db.sh
nginx.conf
*.log
*wp.dompdf.config.php
*configCache.php
*.zip
*.tar
*.gz
*.sql
.htaccess
.DS_Store
.idea/*
.well-known/
.well-known/*
error_log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/uploads
wp-content/wp-cache-config.php
wp-content/wflogs/config.php
wp-content/wflogs/rules.php
wp-content/updraft/
wp-content/managewp/
wp-content/backup-*/
wp-content/db.php
wp-content/wflogs/
wp-content/wflogs/*
